# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# LaTeX
*.aux
*.bbl
*.blg
*.brf
*.bcf
*.fls
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.run.xml
